<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show all tasks</title>
</head>
<body>
    <main style="display:flex">
        <ul>
            {% for task in tasks %}
                <li>{{task.status}}</li>
            {% endfor %}
        </ul>
        <ul>
            {% for task in pending_tasks %}
                <li>{{task.title}}</li>
                <p>{{task.status}}</p>
            {% endfor %}
        </ul>
        <ul>
            {% for task in todays_tasks %}
                <li>{{task.title}}</li>
                <p>{{task.due_date}}</p>
            {% endfor %}
        </ul>
        <ul>
            {% for task in except_low %}
                <li>{{task.task}}</li>
                <p>{{task.priority}}</p>
            {% endfor %}
        </ul>
    </main>
</body>
</html>