<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show all tasks</title>
</head>
<body>
    <main style="display:flex">
        <ol>
            {% for project in task_per_project %}
                <li>{{project.name}} = {{project.total}}</li>
            {% endfor %}
        </ol>
        <ol>
            {% for emp in tasks %}
                <li>{{emp.name}}
                    {% for task in emp.task_set.all %}
                        <ul>
                            <li>{{task.title}}</li>
                        </ul>
                    {% endfor %}
                </li>
            {% endfor %}
        </ol>
        <ul>
            {% for task in pending_tasks %}
                <li>{{task.title}}</li>
                <p>{{task.status}}</p>
            {% endfor %}
        </ul>
        <ul>
            {% for task in todays_tasks %}
                <li>{{task.title}}</li>
                <p>{{task.due_date}}</p>
            {% endfor %}
        </ul>
        <ul>
            {% for task in except_low %}
                <li>{{task.task}}</li>
                <p>{{task.priority}}</p>
            {% endfor %}
        </ul>
        <p>
            {{ count_project }}
            {{count_employee.total}}
        </p>
    </main>
</body>
</html>