{% extends "dashboard/dashboard.html" %}

{% block title %}
Manager Dashboard
{% endblock title %}

{% block tasks %}
<!-- bottom part -->
<section class="bg-white rounded-xl shadow-md">
    <!-- Task Table -->
    <div class="grid grid-cols-4 p-4 border-b border-gray-100 text-sm font-semibold text-gray-600">
        <div>TASK TITLE</div>
        <div>PRIORITY</div>
        <div>TEAM</div>
        <div>CREATED AT</div>
    </div>
    <!-- Task Items -->
    <div class="divide-y">
        {% for task in tasks %}
            <div class="grid grid-cols-4 p-4">
                <div class="flex items-center gap-2">
                    <div class="w-2 h-2 bg-green-500 rounded-full"></div>
                    <span>{{task.title}}</span>
                    {% comment %} <span>[{{task.status}}]</span> {% endcomment %}
                     {% comment %} <form action="{% url 'update-task' task.id %}" method="POST"> {% endcomment %}
                        {% comment %} {% csrf_token %} {% endcomment %}
                        {% comment %} <button type="submit" class="bg-green-500 text-white px-3 py-1">Edit</button> {% endcomment %}
                     {% comment %} </form> {% endcomment %}
                     <a href="{% url "update-task" task.id %}">
                        <button type="submit" class="bg-green-500 text-white px-3 py-1">Edit</button>
                    </a>
                    <form action="{% url "delete-task" task.id %}" method='POST'>
                        {% csrf_token %}
                        <button type="submit" class="bg-red-500 text-white px-3 py-1">Delete</button>
                    </form>
                </div>
                <div>
                    <span class="px-3 py-1 text-sm rounded-full bg-blue-100 text-blue-600 font-semibold">{{task.details.get_priority_display}}</span>
                </div>
                <div class="flex -space-x-2">
                    {% for emp in task.assign_to.all %}
                        <div class="flex justify-center items-center w-8 h-8 rounded-full bg-blue-500 text-white border-2 border-solid border-white text-sm">{{emp.name|slice:'2'}}</div>
                    {% endfor %}
                </div>
                <div>
                    <span class="text-gray-600">{{task.created_at|timesince}}</span>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock tasks %}